[submodule "contrib/bitsery"]
	path = contrib/bitsery
	url = https://github.com/fraillt/bitsery.git
[submodule "contrib/stduuid"]
	path = contrib/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "contrib/nativefiledialog-extended"]
	path = contrib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
